:host {
	justify-content: center;
    display: flex;
}

h2 {
	margin: 0 0 1em
}

button {
	background: #fff;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,.26);
    font-size: .8em;
    height: 28px;
    line-height: 28px;
	margin: 0 10px;
    vertical-align: middle;
    width: 100px;
}

.appointment-manager {
	align-items: flex-end;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 640px
}

.form-actions {
	flex-basis: 100%;
    text-align: center;
    padding: 25px 0;
}